<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chuanggu.app.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.chuanggu.app.entity.Product" >
    <id column="product_id" property="product_id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="amout" property="amout" jdbcType="VARCHAR" />
    <result column="total_amout" property="total_amout" jdbcType="VARCHAR" />
    <result column="support" property="support" jdbcType="VARCHAR" />
    <result column="originator" property="originator" jdbcType="VARCHAR" />
    <result column="picture_url" property="picture_url" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="time_start" property="time_start" jdbcType="DATE" />
    <result column="time_end" property="time_end" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    product_id, name, amout, total_amout, support, originator, picture_url, state, time_start, 
    time_end
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from product
    where product_id = #{product_id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from product
    where product_id = #{product_id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.chuanggu.app.entity.Product" >
    insert into product (product_id, name, amout, 
      total_amout, support, originator, 
      picture_url, state, time_start, 
      time_end)
    values (#{product_id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{amout,jdbcType=VARCHAR}, 
      #{total_amout,jdbcType=VARCHAR}, #{support,jdbcType=VARCHAR}, #{originator,jdbcType=VARCHAR}, 
      #{picture_url,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{time_start,jdbcType=DATE}, 
      #{time_end,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.chuanggu.app.entity.Product" >
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="product_id != null" >
        product_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="amout != null" >
        amout,
      </if>
      <if test="total_amout != null" >
        total_amout,
      </if>
      <if test="support != null" >
        support,
      </if>
      <if test="originator != null" >
        originator,
      </if>
      <if test="picture_url != null" >
        picture_url,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="time_start != null" >
        time_start,
      </if>
      <if test="time_end != null" >
        time_end,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="product_id != null" >
        #{product_id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="amout != null" >
        #{amout,jdbcType=VARCHAR},
      </if>
      <if test="total_amout != null" >
        #{total_amout,jdbcType=VARCHAR},
      </if>
      <if test="support != null" >
        #{support,jdbcType=VARCHAR},
      </if>
      <if test="originator != null" >
        #{originator,jdbcType=VARCHAR},
      </if>
      <if test="picture_url != null" >
        #{picture_url,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="time_start != null" >
        #{time_start,jdbcType=DATE},
      </if>
      <if test="time_end != null" >
        #{time_end,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chuanggu.app.entity.Product" >
    update product
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="amout != null" >
        amout = #{amout,jdbcType=VARCHAR},
      </if>
      <if test="total_amout != null" >
        total_amout = #{total_amout,jdbcType=VARCHAR},
      </if>
      <if test="support != null" >
        support = #{support,jdbcType=VARCHAR},
      </if>
      <if test="originator != null" >
        originator = #{originator,jdbcType=VARCHAR},
      </if>
      <if test="picture_url != null" >
        picture_url = #{picture_url,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="time_start != null" >
        time_start = #{time_start,jdbcType=DATE},
      </if>
      <if test="time_end != null" >
        time_end = #{time_end,jdbcType=DATE},
      </if>
    </set>
    where product_id = #{product_id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chuanggu.app.entity.Product" >
    update product
    set name = #{name,jdbcType=VARCHAR},
      amout = #{amout,jdbcType=VARCHAR},
      total_amout = #{total_amout,jdbcType=VARCHAR},
      support = #{support,jdbcType=VARCHAR},
      originator = #{originator,jdbcType=VARCHAR},
      picture_url = #{picture_url,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      time_start = #{time_start,jdbcType=DATE},
      time_end = #{time_end,jdbcType=DATE}
    where product_id = #{product_id,jdbcType=VARCHAR}
  </update>
</mapper>