<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmcc.edu.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.cmcc.edu.entity.Comment" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="pubstate" property="pubstate" jdbcType="VARCHAR" />
    <result column="publishtime" property="publishtime" jdbcType="TIMESTAMP" />
    <result column="sendtype" property="sendtype" jdbcType="VARCHAR" />
    <result column="sendtime" property="sendtime" jdbcType="TIMESTAMP" />
    <result column="hidden" property="hidden" jdbcType="VARCHAR" />
    <result column="send_id" property="sendId" jdbcType="INTEGER" />
    <result column="receive_stu_id" property="receiveStuId" jdbcType="VARCHAR" />
    <result column="isread" property="isread" jdbcType="VARCHAR" />
    <result column="creatdate" property="creatdate" jdbcType="TIMESTAMP" />
    <result column="receivetime" property="receivetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, content, pubstate, publishtime, sendtype, sendtime, hidden, send_id, receive_stu_id, 
    isread, creatdate, receivetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sch_comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sch_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cmcc.edu.entity.Comment" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sch_comment (title, content, pubstate, 
      publishtime, sendtype, sendtime, 
      hidden, send_id, receive_stu_id, 
      isread, creatdate, receivetime
      )
    values (#{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{pubstate,jdbcType=VARCHAR}, 
      #{publishtime,jdbcType=TIMESTAMP}, #{sendtype,jdbcType=VARCHAR}, #{sendtime,jdbcType=TIMESTAMP}, 
      #{hidden,jdbcType=VARCHAR}, #{sendId,jdbcType=INTEGER}, #{receiveStuId,jdbcType=VARCHAR}, 
      #{isread,jdbcType=VARCHAR}, #{creatdate,jdbcType=TIMESTAMP}, #{receivetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cmcc.edu.entity.Comment" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sch_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="pubstate != null" >
        pubstate,
      </if>
      <if test="publishtime != null" >
        publishtime,
      </if>
      <if test="sendtype != null" >
        sendtype,
      </if>
      <if test="sendtime != null" >
        sendtime,
      </if>
      <if test="hidden != null" >
        hidden,
      </if>
      <if test="sendId != null" >
        send_id,
      </if>
      <if test="receiveStuId != null" >
        receive_stu_id,
      </if>
      <if test="isread != null" >
        isread,
      </if>
      <if test="creatdate != null" >
        creatdate,
      </if>
      <if test="receivetime != null" >
        receivetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="pubstate != null" >
        #{pubstate,jdbcType=VARCHAR},
      </if>
      <if test="publishtime != null" >
        #{publishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendtype != null" >
        #{sendtype,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null" >
        #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="hidden != null" >
        #{hidden,jdbcType=VARCHAR},
      </if>
      <if test="sendId != null" >
        #{sendId,jdbcType=INTEGER},
      </if>
      <if test="receiveStuId != null" >
        #{receiveStuId,jdbcType=VARCHAR},
      </if>
      <if test="isread != null" >
        #{isread,jdbcType=VARCHAR},
      </if>
      <if test="creatdate != null" >
        #{creatdate,jdbcType=TIMESTAMP},
      </if>
      <if test="receivetime != null" >
        #{receivetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmcc.edu.entity.Comment" >
    update sch_comment
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="pubstate != null" >
        pubstate = #{pubstate,jdbcType=VARCHAR},
      </if>
      <if test="publishtime != null" >
        publishtime = #{publishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendtype != null" >
        sendtype = #{sendtype,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null" >
        sendtime = #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="hidden != null" >
        hidden = #{hidden,jdbcType=VARCHAR},
      </if>
      <if test="sendId != null" >
        send_id = #{sendId,jdbcType=INTEGER},
      </if>
      <if test="receiveStuId != null" >
        receive_stu_id = #{receiveStuId,jdbcType=VARCHAR},
      </if>
      <if test="isread != null" >
        isread = #{isread,jdbcType=VARCHAR},
      </if>
      <if test="creatdate != null" >
        creatdate = #{creatdate,jdbcType=TIMESTAMP},
      </if>
      <if test="receivetime != null" >
        receivetime = #{receivetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmcc.edu.entity.Comment" >
    update sch_comment
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      pubstate = #{pubstate,jdbcType=VARCHAR},
      publishtime = #{publishtime,jdbcType=TIMESTAMP},
      sendtype = #{sendtype,jdbcType=VARCHAR},
      sendtime = #{sendtime,jdbcType=TIMESTAMP},
      hidden = #{hidden,jdbcType=VARCHAR},
      send_id = #{sendId,jdbcType=INTEGER},
      receive_stu_id = #{receiveStuId,jdbcType=VARCHAR},
      isread = #{isread,jdbcType=VARCHAR},
      creatdate = #{creatdate,jdbcType=TIMESTAMP},
      receivetime = #{receivetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="commentSendList" resultMap="BaseResultMap" parameterType="com.cmcc.edu.entity.Comment" >
     select 
    <include refid="Base_Column_List" />
    from sch_comment
    where sendtype=0
    
      <if test="content != null and content !='null' and  content !='' "  >
       and content like concat('%',#{content,jdbcType=VARCHAR},'%') 
      </if>
      <if test="starttime != null and starttime !='null' and  starttime !='' " >
				 	and  publishtime <![CDATA[>=]]> #{starttime,jdbcType=TIMESTAMP}
      </if>
      <if test="endtime != null and endtime !='null' and  endtime !='' " >
				 	and  publishtime <![CDATA[<=]]> #{endtime,jdbcType=TIMESTAMP}
      </if>
      <if test="pubstate != null and pubstate !='null' and  pubstate !='' " >
	            	and  pubstate =    	#{pubstate,jdbcType=VARCHAR}
      </if>
      
      
      union select 
    <include refid="Base_Column_List" />
    from sch_comment
    where sendtype=1
      <if test="content != null and content !='null' and  content !='' "  >
       and content like concat('%',#{content,jdbcType=VARCHAR},'%') 
      </if>
      <if test="starttime != null and starttime !='null' and  starttime !='' " >
	            	and  sendtime <![CDATA[>=]]> #{starttime,jdbcType=TIMESTAMP}
	        	
      </if>
      <if test="endtime != null and endtime !='null' and  endtime !='' " >
	            	and  sendtime <![CDATA[<=]]> #{endtime,jdbcType=TIMESTAMP}     	
      </if>
      <if test="pubstate != null and pubstate !='null' and  pubstate !='' " >
	            	and  pubstate =    	#{pubstate,jdbcType=VARCHAR}
      </if>
      
      
  </select>
</mapper>