<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmcc.edu.dao.NoticeMapper" >
  <resultMap id="BaseResultMap" type="com.cmcc.edu.entity.Notice" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="pubstate" property="pubstate" jdbcType="VARCHAR" />
    <result column="publishtime" property="publishtime" jdbcType="TIMESTAMP" />
    <result column="sendtype" property="sendtype" jdbcType="VARCHAR" />
    <result column="sendtime" property="sendtime" jdbcType="TIMESTAMP" />
    <result column="hidden" property="hidden" jdbcType="VARCHAR" />
    <result column="noticetype" property="noticetype" jdbcType="VARCHAR" />
    <result column="send_id" property="sendId" jdbcType="BIGINT" />
    <result column="smstype" property="smstype" jdbcType="VARCHAR" />
    <result column="creatdate" property="creatdate" jdbcType="TIMESTAMP" />
    <result column="receivetime" property="receivetime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, content, pubstate, publishtime, sendtype, sendtime, hidden, noticetype, 
    send_id, smstype, creatdate, receivetime, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sch_notice
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sch_notice
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cmcc.edu.entity.Notice" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sch_notice (title, content, pubstate, 
      publishtime, sendtype, sendtime, 
      hidden, noticetype, send_id, 
      smstype, creatdate, receivetime, 
      type)
    values (#{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{pubstate,jdbcType=VARCHAR}, 
      #{publishtime,jdbcType=TIMESTAMP}, #{sendtype,jdbcType=VARCHAR}, #{sendtime,jdbcType=TIMESTAMP}, 
      #{hidden,jdbcType=VARCHAR}, #{noticetype,jdbcType=VARCHAR}, #{sendId,jdbcType=BIGINT}, 
      #{smstype,jdbcType=VARCHAR}, #{creatdate,jdbcType=TIMESTAMP}, #{receivetime,jdbcType=TIMESTAMP}, 
      #{type,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.cmcc.edu.entity.Notice" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sch_notice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="pubstate != null" >
        pubstate,
      </if>
      <if test="publishtime != null" >
        publishtime,
      </if>
      <if test="sendtype != null" >
        sendtype,
      </if>
      <if test="sendtime != null" >
        sendtime,
      </if>
      <if test="hidden != null" >
        hidden,
      </if>
      <if test="noticetype != null" >
        noticetype,
      </if>
      <if test="sendId != null" >
        send_id,
      </if>
      <if test="smstype != null" >
        smstype,
      </if>
      <if test="creatdate != null" >
        creatdate,
      </if>
      <if test="receivetime != null" >
        receivetime,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="pubstate != null" >
        #{pubstate,jdbcType=VARCHAR},
      </if>
      <if test="publishtime != null" >
        #{publishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendtype != null" >
        #{sendtype,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null" >
        #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="hidden != null" >
        #{hidden,jdbcType=VARCHAR},
      </if>
      <if test="noticetype != null" >
        #{noticetype,jdbcType=VARCHAR},
      </if>
      <if test="sendId != null" >
        #{sendId,jdbcType=BIGINT},
      </if>
      <if test="smstype != null" >
        #{smstype,jdbcType=VARCHAR},
      </if>
      <if test="creatdate != null" >
        #{creatdate,jdbcType=TIMESTAMP},
      </if>
      <if test="receivetime != null" >
        #{receivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmcc.edu.entity.Notice" >
    update sch_notice
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="pubstate != null" >
        pubstate = #{pubstate,jdbcType=VARCHAR},
      </if>
      <if test="publishtime != null" >
        publishtime = #{publishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendtype != null" >
        sendtype = #{sendtype,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null" >
        sendtime = #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="hidden != null" >
        hidden = #{hidden,jdbcType=VARCHAR},
      </if>
      <if test="noticetype != null" >
        noticetype = #{noticetype,jdbcType=VARCHAR},
      </if>
      <if test="sendId != null" >
        send_id = #{sendId,jdbcType=BIGINT},
      </if>
      <if test="smstype != null" >
        smstype = #{smstype,jdbcType=VARCHAR},
      </if>
      <if test="creatdate != null" >
        creatdate = #{creatdate,jdbcType=TIMESTAMP},
      </if>
      <if test="receivetime != null" >
        receivetime = #{receivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmcc.edu.entity.Notice" >
    update sch_notice
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      pubstate = #{pubstate,jdbcType=VARCHAR},
      publishtime = #{publishtime,jdbcType=TIMESTAMP},
      sendtype = #{sendtype,jdbcType=VARCHAR},
      sendtime = #{sendtime,jdbcType=TIMESTAMP},
      hidden = #{hidden,jdbcType=VARCHAR},
      noticetype = #{noticetype,jdbcType=VARCHAR},
      send_id = #{sendId,jdbcType=BIGINT},
      smstype = #{smstype,jdbcType=VARCHAR},
      creatdate = #{creatdate,jdbcType=TIMESTAMP},
      receivetime = #{receivetime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="noticeReceiveList" resultType="com.cmcc.edu.entity.Notice" parameterType="com.cmcc.edu.entity.Notice" >
    select a.id pId,a.isread,c.username sendName,b.* from sch_noticeperson a
		join sch_notice b on a.notice_id=b.id 
		left join login_user c on b.send_id=c.id and b.type=c.type
		where  a.receiveid=  #{receiveid} and a.type=  #{type} and a.receivetype='0' and  b.sendtype=0 and b.pubstate=0
    
      <if test="content != null and content !='null' and  content !='' "  >
       and b.content like concat('%',#{content,jdbcType=VARCHAR},'%') 
      </if>
      <if test="starttime != null and starttime !='null' and  starttime !='' " >
				 	and  b.publishtime <![CDATA[>=]]> #{starttime,jdbcType=TIMESTAMP}
	        
      </if>
      <if test="endtime != null and endtime !='null' and  endtime !='' " >
				 	and  b.publishtime <![CDATA[<=]]> #{endtime,jdbcType=TIMESTAMP}
	        	
      </if>
      
      
      union  select a.id pId,a.isread,c.username sendName,b.* from sch_noticeperson a
		join sch_notice b on a.notice_id=b.id
		left join login_user c on b.send_id=c.id and b.type=c.type
    where  a.receiveid=  #{receiveid} and a.type=  #{type} and a.receivetype='0' and b.sendtype=1 and b.pubstate=0
      <if test="content != null and content !='null' and  content !='' "  >
       and b.content like concat('%',#{content,jdbcType=VARCHAR},'%') 
      </if>
      <if test="starttime != null and starttime !='null' and  starttime !='' " >
	            	and  b.sendtime <![CDATA[>=]]> #{starttime,jdbcType=TIMESTAMP}
	        	
      </if>
      <if test="endtime != null and endtime !='null' and  endtime !='' " >
	            	and  b.sendtime <![CDATA[<=]]> #{endtime,jdbcType=TIMESTAMP}     	
      </if>
      
  </select>
  <select id="noticeSendList" resultType="com.cmcc.edu.entity.Notice" parameterType="com.cmcc.edu.entity.Notice" >
    select c.id,c.content,c.publishtime sendtime,d.total from sch_notice c 
 join ( select notice_id ,count(*) total from sch_noticeperson a join sch_notice b on a.notice_id=b.id 
     and b.sendtype=0 and b.pubstate=0
    <if test="sendId != null" >
       and b.send_id = #{sendId}  
      </if>
      <if test="type != null" >
       and b.type = #{type}  
      </if>
      group by  notice_id
     ) d on c.id=d.notice_id
    where c.sendtype=0 and c.pubstate=0
    
      <if test="content != null and content !='null' and  content !='' "  >
       and c.content like concat('%',#{content,jdbcType=VARCHAR},'%') 
      </if>
      <if test="starttime != null and starttime !='null' and  starttime !='' " >
				 	and  c.publishtime <![CDATA[>=]]> #{starttime,jdbcType=TIMESTAMP}
      </if>
      <if test="endtime != null and endtime !='null' and  endtime !='' " >
				 	and  c.publishtime <![CDATA[<=]]> #{endtime,jdbcType=TIMESTAMP}
      </if>
      
      
      
      union select c.id,c.content,c.sendtime,d.total from sch_notice c 
 join ( select notice_id ,count(*) total from sch_noticeperson a join sch_notice b on a.notice_id=b.id 
     and b.sendtype=1 and b.pubstate=0
    <if test="sendId != null" >
       and b.send_id = #{sendId}  
      </if>
      <if test="type != null" >
       and b.type = #{type}  
      </if>
      group by  notice_id
     ) d on c.id=d.notice_id
    where c.sendtype=1 and c.pubstate=0
      <if test="content != null and content !='null' and  content !='' "  >
       and c.content like concat('%',#{content,jdbcType=VARCHAR},'%') 
      </if>
      <if test="starttime != null and starttime !='null' and  starttime !='' " >
	            	and  c.sendtime <![CDATA[>=]]> #{starttime,jdbcType=TIMESTAMP}
	        	
      </if>
      <if test="endtime != null and endtime !='null' and  endtime !='' " >
	            	and  c.sendtime <![CDATA[<=]]> #{endtime,jdbcType=TIMESTAMP}     	
      </if>
  </select>
  
  <select id="findDaftList" resultMap="BaseResultMap" parameterType="com.cmcc.edu.entity.Notice" >
    select c.*,d.total from sch_notice c 
left join ( select notice_id ,count(*) total from sch_noticeperson a join sch_notice b on a.notice_id=b.id 
     and  b.pubstate='1'
       and b.send_id = #{sendId,jdbcType=BIGINT}  and b.type = #{type} 
       group by notice_id
     ) d on c.id=d.notice_id
    where  c.pubstate='1' and c.send_id = #{sendId,jdbcType=BIGINT}  and c.type = #{type} 
      
  </select>
  
   <update id="updatePubStateById" parameterType="java.lang.Long" >
    update sch_notice
    set  pubstate = '0'
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>