<div class="nav-bar">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <!-- <a class="navbar-brand" href="#">Title</a> -->
            <ul class="nav navbar-nav primary-menu">
                <li class="active">
                    <a href="#">首页</a>
                </li>
                <li>
                    <a href="#">创业百宝箱</a>
                    <ul class="second-menu">
                        <li><a href="#">找合伙人</a></li>
                        <li><a href="#">找投资人</a></li>
                        <li><a href="#">找专家团</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">路演</a>
                    <ul class="second-menu">
                        <li><a href="#">求路演</a></li>
                        <li><a href="#">路演安排</a></li>
                        <li><a href="#">路演须知</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">众筹</a>
                    <ul class="second-menu">
                        <li><a href="#">产品众筹</a></li>
                        <li><a href="#">股权众筹</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">众创空间</a>
                    <ul class="second-menu">
                        <li><a href="#">基础服务</a></li>
                        <li><a href="#">申请入驻</a></li>
                        <li><a href="#">座位预订</a></li>
                        <li><a href="#">公司分布</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">创业资讯</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

