<!-- <ul class="nav nav-pills nav-stacked">
    <li role="presentation" data-bind="css: { active: route().page === 'home-page' }">
        <a href="#home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <span class="option">Home</span></a>
    </li>
    <li role="presentation" data-bind="css: { active: route().page === 'about-page' }">
        <a href="#about"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> <span class="option">About</span></a>
    </li>
    <li role="presentation">
        <a href="#home"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="option">用户管理</span></a>
    </li>
    <li role="presentation">
        <a href="#home"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> <span class="option">行业模板</span></a>
    </li>
    <li role="presentation">
        <a href="#home"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> <span class="option">模块组件</span></a>
    </li>
    <li role="presentation">
        <a href="#home"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> <span class="option">APP列表</span></a>
    </li>
    <li role="presentation">
        <a href="#home"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> <span class="option">统计分析</span></a>
    </li>
    <li role="presentation">
        <a href="#demo"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> <span class="option">模块示例</span></a>
    </li>
</ul> -->

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <a class="navbar-brand" href="#">Title</a>
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Link</a>
        </li>
    </ul>
</nav>
