<div id="menuBar">
    <nav-bar params="route: route"></nav-bar>
</div>
<header id="header" class="headerbar headerbar-default">
    <div class="container-fluid">
        <h1 id="logo" class="pull-left">
            <a href=""><img src="../imgs/logo.png" alt="百业app生成器"><span class="hidden">百业app生成器</span></a>
        </h1>
        <!-- /#logo -->
        <ul id="functionNav" class="nav navbar-nav navbar-right">
            <li>登录组织：<strong>000001-百业集团组织</strong></li>
            <li>用户：<strong>administrator</strong></li>
            <li>角色：<strong>超级管理员</strong></li>
            <li><a href="#">修改密码</a></li>
        </ul>
        <!-- /#functionNav -->
    </div>
    <!-- /.container-fluid-->
</header>

