.text-danger {
    color: #ce4844;
}

.control-label {
    font-weight: normal;
}

.form-title {
    margin: 15px 0 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 2;
    border-bottom: 1px solid @boeder-color;
}

.form-footer {
    padding: 50px 0 0;
}

.filed-wrapper {
    position: relative;
}

.filed-wrapper .validationMessage {
    position: absolute;
    bottom: 2px;
    right: 2px;
    color: #d9534f;
    font-weight: bold;
    background-color: rgba(240, 240, 240, 0.6);
    padding: 2px 4px;
    border-radius: 2px 2px 0 0;
}

.form-group{
    margin-bottom: 30px;
     .filed-wrapper .validationMessage {
        right: inherit;
        bottom: -22px;
        left: 15px;
        font-weight: normal;
        font-size: 12px;
        background: none;
    }
}

#orgSearchForm{
    .form-group{
        margin-bottom: 15px;
    }
}
.required {
    position: relative;
    &:after {
        content: "*";
        position: absolute;
        top: 25%;
        right: 5px;
        font-size: 18px;
        color: @red;
    }
}

