@siteBackground: #fff;
@maxWidth: 1000px;
@sitebarHeight: 90px;

/* required */

@black: #000;
@dark: #1E2022;
@red: #c00;
@blue: #22b5e1;
@green: #94C766;
@gray: rgba(255, 255, 255, 0.5);


.radius(@length) {
    -moz-border-radius: @length;
    -webkit-border-radius: @length;
    border-radius: @length;
}

.textoverflow() {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.animate-ease {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

