<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8">
                <div class="col-xs-2"></div>
                <div class="col-xs-10">
                    <p class="text-center">版权所有 中移（杭州）信息技术邮箱公司 hy.10086.cn</p>
                </div>
            </div>
            <div class="col-md-4 text-right">
                <span>推荐浏览器：<a href="http://browsehappy.com/" target="_blank">Chrome</a></span>
                <!-- <span>IP地址：192.168.1.1</span>

 -->
            </div>
        </div>
    </div>
</footer>

