<div class="site-bar">
    <div class="container">
        <div class="site-bar-table">
            <div class="site-bar-row">
                <div class="site-bar-cell logo">
                    <span class="glyphicon glyphicon-road"></span>
                    <strong>创客中国</strong>
                </div>
                <div class="site-bar-cell slogan">梦想起航，梦想起航</div>
                <div class="site-bar-cell contactInfo">
                    <label for=""><span class="glyphicon glyphicon-phone-alt"></span></label>
                    <strong>0571-88888888</strong>
                </div>
                <div class="site-bar-cell func-links">
                    <span class="glyphicon glyphicon-search"></span>
                    <span class="glyphicon glyphicon-user"></span>
                </div>
            </div>
        </div>
    </div>
</div>

