/* header, footer */
/* menu, btn-ui */
/* dataTables_paginate hover background*/
/* dataTables_paginate default background*/
/* dataTables_paginate current*/
/* required */
html,
body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  font-size: 14px;
  background: #f4f4f4;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#body {
  position: absolute;
  top: 86px;
  bottom: 35px;
  width: 100%;
}
#content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-left: 70px;
  overflow-y: auto;
}
.text-danger {
  color: #ce4844;
}
.control-label {
  font-weight: normal;
}
.form-title {
  margin: 15px 0 20px;
  font-size: 16px;
  font-weight: bold;
  line-height: 2;
  border-bottom: 1px solid #dddddd;
}
.form-footer {
  padding: 50px 0 0;
}
.filed-wrapper {
  position: relative;
}
.filed-wrapper .validationMessage {
  position: absolute;
  bottom: 2px;
  right: 2px;
  color: #d9534f;
  font-weight: bold;
  background-color: rgba(240, 240, 240, 0.6);
  padding: 2px 4px;
  border-radius: 2px 2px 0 0;
}
.form-group {
  margin-bottom: 30px;
}
.form-group .filed-wrapper .validationMessage {
  right: inherit;
  bottom: -22px;
  left: 15px;
  font-weight: normal;
  font-size: 12px;
  background: none;
}
#orgSearchForm .form-group {
  margin-bottom: 15px;
}
.required {
  position: relative;
}
.required:after {
  content: "*";
  position: absolute;
  top: 25%;
  right: 5px;
  font-size: 18px;
  color: #cc0000;
}
.btn {
  margin: 3px 3px 0 0;
  border: 0;
  outline: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.btn-ui {
  color: #ffffff;
  background-color: #6d6d91;
}
.btn-ui:active,
.btn-ui:focus,
.btn-ui:hover {
  color: #ffffff;
  background-color: #59597b;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#header {
  background: #333366;
}
#logo {
  margin: 15px;
}
#functionNav {
  margin-top: 30px;
}
#functionNav li {
  padding: 0 10px;
  color: #fff;
}
#functionNav strong {
  font-weight: normal;
}
#functionNav a {
  padding: 0;
  color: #fff;
}
#functionNav a:hover {
  background: none;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 35px;
  color: #fff;
  background: #333366;
}
#footer p {
  margin: 0;
}
#footer span {
  padding: 0 5px;
}
#menuBar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  min-width: 55px;
  padding: 0;
  background: #ffffff;
  border-right: 1px solid #dddddd;
  z-index: 12;
  overflow-y: auto;
}
#menuBar li > a {
  color: #333333;
  padding-left: 20px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  white-space: nowrap;
}
#menuBar li > a .glyphicon {
  vertical-align: middle;
  font-size: 20px;
  top: -1px;
}
#menuBar li.active > a,
#menuBar li.active > a:focus,
#menuBar li.active > a:hover {
  color: #ffffff;
  background: #6d6d91;
}
#menuBar .option {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  font-size: 15px;
  width: 0;
  margin-left: 5px;
  transition: width 0.3s ease-in;
}
#menuBar:hover .option {
  width: 80px;
}
.sideNavToggle {
  padding: 10px 15px;
  color: #337ab7;
  border-bottom: 1px solid #dddddd;
}
.jconfirm.white .jconfirm-box {
  border-radius: 0;
}
.disableOrgContent .glyphicon {
  font-size: 18px;
  color: #f0ad4e;
}
.disableOrgContent storng {
  margin-left: 10px;
  font-weight: bold;
}
.disableOrgContent ul.tips {
  list-style: decimal;
  padding-left: 40px;
}
.disableOrgContent ul.tips li {
  list-style: decimal;
  padding: 5px 0;
}
